@model IEnumerable<Order>
@{
	ViewData["Title"] = "Siparişler";
}

<h3>Siparişler</h3>

@if (TempData["Warning"] is not null)
{
	<div class="text-center text-white mb-3">
		<div class="fw-bolder">@TempData["Warning"]</div>
	</div>
}

<table style="width:100%;">
	<thead>
		<tr style="border-bottom: 3px solid #000;">
			<th>@Html.DisplayNameFor(model => model.Buyer.Name)</th>
			<th>@Html.DisplayNameFor(model => model.ShoppingDate)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr style="border-bottom: 1px solid #ddd;">
				<td>@Html.DisplayFor(modelItem => item.Buyer.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.ShoppingDate)</td>
				<td>
					@Html.ActionLink("Sipariş Bilgisi", "DetailsOrder", "Order", new{id=item.Id})
					@Html.ActionLink("Siparişi Sil", "RemoveOrder", "Order", new{id=item.Id})
				</td>
			</tr>
		}
	</tbody>
</table>